::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background: transparent;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(43, 43, 43, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(90, 90, 90, 0.5);
}
